@import 'tailwindcss';

html {
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}


html::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

*::-webkit-scrollbar {
  display: none; 
}

@theme {
  --shadow-neo-brutalism: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  --shadow-neo-brutalism-sm: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}
body {
  background-color: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(4px);
  }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 2;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

/* 自定义 Toast 容器 */
[data-sonner-toast] {
  border: 2px solid #000 !important;
  border-radius: 0 !important;
  box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 1) !important;
}

/* 自定义成功状态 */
[data-sonner-toast][data-type='success'] {
  background: #dcfce7 !important;
  border-color: #00ff5e !important;
}

/* 自定义错误状态 */
[data-sonner-toast][data-type='error'] {
  background: #fee2e2 !important;
  border-color: #ff0000 !important;
}

/* 自定义标题和内容 */
[data-sonner-toast] .sonner-title {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

[data-sonner-toast] .sonner-description {
  font-size: 14px;
}


